___

<a href='http://www.pieriandata.com'> <img src='../Pierian_Data_Logo.png' /></a>
___
# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take my other course: [Complete Python Bootcamp](https://www.udemy.com/complete-python-bootcamp/?couponCode=PY20) instead.

**This notebook is just a code reference for the videos, no written explanations here**

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

## Data types

### Numbers

In [6]:
1 + 1

2

In [7]:
1 * 3

3

In [8]:
1 / 2

0.5

In [9]:
2 ** 4

16

In [10]:
#Modulus - gives the remainder
4 % 2

0

In [1]:
5 % 2

1

In [3]:
2 + 3 * 5 + 5
#It starts with multiplication first

22

In [4]:
(2 + 3) * (5 + 5)
#This clarifies the order , it will start with the brackets

50

### Variable Assignment

In [8]:
# Can not start with number or special characters
num = 2

In [9]:
#Wherenever you call the variable you will get the number assigned to it (2)
num

2

In [14]:
x = 2
y = 3

In [15]:
z = x + y

In [16]:
z

5

### Strings

In [23]:
#You can use double/single qoutes for strings

string ='single quotes'
string2 ="double quotes"
print (string)
print(string2)

single quotes
double quotes

In [18]:
#If you do not add the word print then it will print even the qoutes
"double quotes"

'double quotes'

In [27]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [28]:
x = 'hello'

In [21]:
x

'hello'

In [22]:
print(x)

hello

In [32]:
num = 12
name = 'Sam'

In [33]:
#after the word format you are passing the variables in that order
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

In [39]:
#Indexing starts at 0
s = "Hello"
s[0]

'H'

In [43]:
#This says grab everything from 0 and beyond
s[0:]

'Hello'

In [44]:
#Grab everything from start excluding index 3
s[:3]

'Hel'

### Lists

In [26]:
[1,2,3]

[1, 2, 3]

In [46]:
#A list can take in any data type
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [48]:
my_list = ['a','b','c']

In [49]:
#Adding an element to the end of the list
my_list.append('d')

In [30]:
my_list

['a', 'b', 'c', 'd']

In [31]:
my_list[0]

'a'

In [32]:
my_list[1]

'b'

In [33]:
my_list[1:]

['b', 'c', 'd']

In [34]:
my_list[:1]

['a']

In [50]:
my_list[0] = 'NEW'

In [98]:
my_list

['NEW', 'b', 'c', 'd']

In [54]:
#You can put a list inside a list(There's basically 3 lists here)
nest = [1,2,3,[4,5,['target']]]

In [55]:
nest

[1, 2, 3, [4, 5, ['target']]]

In [52]:
nest[3]

[4, 5, ['target']]

In [56]:
#[3]Is is taking the lists [4 , 5 , ['target']] then [2] is taking list ['target']
nest[3][2]

['target']

In [57]:
#[3]Is is taking the lists [4 , 5 , ['target']] then [2] is taking list ['target'] then [0] is the first thing that is left on the list
nest[3][2][0]

'target'

### Dictionaries

In [60]:
#It is a key value Pair
d = {'key1':'item1','key2':'item2'}

In [38]:
d

{'key1': 'item1', 'key2': 'item2'}

In [63]:
#You pass the key not the index
d['key1']

'item1'

In [72]:
student = {'Name':'Karabo'}
print(student)
student['Name']

{'Name': 'Karabo'}

'Karabo'

In [75]:
#You can have a key value pair with a list and want a specific thing from that list
student = {'Name':['Karabo' , 'Lerato' , 'Lebo']}
student['Name'][1]

'Lerato'

### Booleans

In [40]:
True

True

In [41]:
False

False

### Tuples

In [76]:
t = (1,2,3)

In [43]:
t[0]

1

In [44]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [79]:
s = {1,2,3}

In [90]:
#It takes the same element once
#Returns set of unique elements
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [91]:
s = {1,2,3}

In [94]:
s.add(5)

In [95]:
s

{1, 2, 3, 5}

## Comparison Operators

In [47]:
1 > 2

False

In [48]:
1 < 2

True

In [49]:
1 >= 1

True

In [50]:
1 <= 4

True

In [51]:
1 == 1

True

In [96]:
'hi' != 'bye'

True

## Logic Operators

In [97]:
#Both has to be true
(1 > 2) and (2 < 3)

False

In [98]:
#Only one has to be true
(1 > 2) or (2 < 3)

True

In [99]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [56]:
if 1 < 2:
    print('Yep!')

Yep!

In [57]:
if 1 < 2:
    print('yep!')

yep!

In [58]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [59]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [60]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [101]:
seq = [1,2,3,4,5]

In [104]:
#When you know how many times you are going to loop/iterate 
#For item is more like for the number in the sequence
#"num" is variable that holds the current element in each loop iteration.

for num in seq:
    print(num)

1
2
3
4
5

In [63]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [64]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [1]:

i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [2]:
range(5)

range(0, 5)

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
#It makes the range a list.It starts at 0 even if it is not specified.
#5 is not included
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [6]:
x = [1,2,3,4]

In [7]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [8]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [30]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [31]:
my_func

In [28]:
my_func()

default

In [29]:
my_func('new param')

new param

In [76]:
my_func(param1='new param')

new param

In [12]:
def square(x):
    return x**2

In [13]:
out = square(2)

In [15]:
print(out)

4

In [24]:
#Need function and parameter name with word "def"
def funct(param1):
    print(param1)

In [25]:
#This is where you are calling the function
funct('hello')

hello

In [26]:
def func(name):
    print('Hello' + name)

In [27]:
func('Jose')

HelloJose

## lambda expressions

In [80]:
def times2(var):
    return var*2

In [81]:
times2(2)

4

In [82]:
lambda var: var*2

## map and filter

In [35]:
seq = [1,2,3,4,5]

In [36]:
map(times2,seq)

NameError: name 'times2' is not defined

In [34]:
list(map(times2,seq))

NameError: name 'times2' is not defined

In [37]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [38]:
filter(lambda item: item%2 == 0,seq)

In [39]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [40]:
st = 'hello my name is Sam'

In [41]:
st.lower()

'hello my name is sam'

In [113]:
st.upper()

'HELLO MY NAME IS SAM'

In [103]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [42]:
tweet = 'Go Sports! #Sports'

In [43]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [44]:
tweet.split('#')[1]

'Sports'

In [92]:
d

{'key1': 'item1', 'key2': 'item2'}

In [93]:
d.keys()

dict_keys(['key2', 'key1'])

In [94]:
d.items()

dict_items([('key2', 'item2'), ('key1', 'item1')])

In [45]:
lst = [1,2,3]

In [49]:
lst.pop()

2

In [50]:
#You can specify what you want to pop out
lst.pop(0)

1

In [108]:
lst

[1, 2]

In [47]:
#Checks if the value is in the list
'x' in [1,2,3]

False

In [48]:
'x' in ['x','y','z']

True

# Great Job!